html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  border: 0px;
}
.blocket-sniper {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  border: 4px solid #4caf50;
  overflow: hidden;
  padding: 16px 8px;
  position: relative;
}

/* Begin Settings */
#blocket-sniper-open-settings {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}
#blocket-sniper-open-settings img {
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  display: block;
}
#blocket-sniper-settings-page {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(4px);
}
#blocket-sniper-settings-page.active {
  height: 100%;
}
.blocket-sniper-settings-body {
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#blocket-sniper-close-settings {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}
#blocket-sniper-close-settings img {
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  display: block;
}
#blocket-sniper-save-settings {
  margin-top: 8px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#blocket-sniper-save-settings-complete {
  color: #4caf50;
  font-weight: bold;
  margin-top: 4px;
}
/* End Settings */

.blocket-sniper-silent-mode {
  display: flex;
  gap: 4px;
}
.blocket-sniper-logo,
.blocket-sniper-silent-mode,
.blocket-sniper-text-input {
  max-width: 256px;
  margin: 0 auto;
}
#blocket-sniper-title {
  text-transform: uppercase;
  text-align: center;
}
.blocket-sniper-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
button.action-button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 256px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  text-transform: uppercase;
}
button:hover {
  background-color: #45a049;
}
button#blocket-sniper-reset-counter {
  background-color: #f44336;
}
button#blocket-sniper-reset-counter:hover {
  background-color: #d32f2f;
}
.blocket-sniper-reloads-tracker {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#blocket-sniper-output-log {
  text-align: center;
  height: 32px;
}
#blocket-sniper-output-log img {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
